*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color:#222;
    min-height: 100vh;
    transition: all 0.3s ease;;
}
header{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background:linear-gradient(
        13deg,
        #4f46e5,
        #7c3aed);
    color: white;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
header h1{
    font-size: 32px;
}
header p{
    margin-top:5px;
    opacity:0.9;
}
.header-right{
    display:flex;
    align-items: center;
    gap: 15px;
}
#clock{
    font-size: 18px;
    font-weight: bold;
}
.container{
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap: 24px;
}
.card{
    background:white;
    padding:25px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    animation: fadeIn 0.5s ease;

}
.card:hover{
    transform: translateY(-8px);
}
@keyframes fadeIn {
    from{
        opacity:0;
        transform: translateY(20px);
    }
    to{
        opacity:1;
        transform: translateY(0);
    }

}
h2{
    margin-bottom: 20px;
    color: #4f46e5;
}
.count,
.score{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin:25px 0;
    color: #111827;
}
.btn-group{
    display: flex;
    gap: 10px;
    justify-content: center;
}
button{
    padding:12px 20px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(
        135deg,
        #4f46e5,
        #7c3aed
    );
    color: white;

font-weight: bold;

cursor: pointer;

transition: all 0.3s ease;
}
button:hover{
    transform: scale(1.04);
}
.task-input{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
input{
    flex: 1;
    padding: 12px;
    border:1px solid #ccc;
    border-radius: 2px;
    outline: none;
}
ul{
    list-style: none;
}
li{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    margin-bottom: 12px;
    background: white;
    border-radius: 12px;
}
.delete-btn{
    background: crimson;
}
/* after this  */
.delete-btn:hover {
  background: darkred;
}



#notification {
  padding: 18px;

  border-radius: 12px;

  background: #eef2ff;

  border-left: 5px solid #4f46e5;
}



.dark {
  background: #111827;
  color: white;
}

.dark .card {
  background: #1f2937;
}

.dark h2,
.dark .count,
.dark .score {
  color: white;
}

.dark input {
  background: #374151;
  color: white;
  border: none;
}

.dark li {
  background: #374151;
}

.dark #notification {
  background: #312e81;
  color: white;
}


@media(max-width: 768px) {

  header {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .btn-group {
    flex-direction: column;
  }

} 